body
{
    background-image: url("images/this.jpg");
}
.header
{
text-align: center;
margin: 15px;
margin-top: 50px;
padding: 5px;
}
h5
{
    font-style: italic;
}
.NAVIGATION
{
   text-align: right;
   margin-top: 30px; 
}
p{
    display: inline-block;
    margin: 10px;
}
.register
{
    margin-left: 50px;
    margin-top: 20px;
    padding-left: 45px;
    padding-top: 30px;
    background-color:bisque;
    border-radius: 10px;
    height: 575px;
    width: 300px;
}





